/* Bootstrap and CSS standard can go in here. */

.gifs {
    display: inline-block;
   padding: 2px;
   background: cadetblue;
   border-image-width: 20%;
   border-color: blue
}

#buttonsView {
    padding: 10px;
    display: inline;
    background: black;
    
}

button {
	background:gold;
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 5px;
}

body {
    background-color: lightslategray;
}

#state-form {
    position: relative;
    float: right;
    right: 190px;
    bottom: 40px;
    width: 20%
}

#rating-text {
    font-size: 14px;
    color: red;
    text-align: center;
}

#title-text {
    font-size: 14px;
    color: red;
    text-align: center;
}